#bg-university {
    background-size: 100%;
    position: relative;
}

body .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#numbers-bg {
    height: 25rem;
    position: absolute;
}



.parallax {
    background-image: url('Images/vasily-koloda-8CqDvPuo_kI-unsplash.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#register-box {
    background-image: url('Images/josh-rose-trYl7JYATH0-unsplash.jpg');
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    z-index: 2;
}

#register-box>h1 {
    font-size: 3rem;
}

#register-box button {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    border-radius: 0px;
    transition: transform 0.6s is-in-out;
}

#bg-university {
    padding-right: 0px;
}

.number-boxes {
    background: rgba(15,15,15,0.8);
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: whitesmoke;
}

.number-boxes>h1 {
    font-size: 5rem;
}

#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

