body .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden!important;
    max-width: 100%;
}

::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}

.card {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#numbers-bg {
    height: 25rem;
    position: absolute;
}

.parallax {
    background-image: url('../Images/vasily-koloda-8CqDvPuo_kI-unsplash.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#register-box {
    background-image: url('../Images/jyotirmoy-gupta-0xjuR1s04ZI-unsplash.jpg');
    background-size: cover;
    text-align: center;
    color: black;
    width: 101%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    z-index: 2;
    height: 1000px;
}

#register-box>h1 {
    font-size: 3rem;
}

#register-box button {
    font-size: 2rem;
    border-radius: 0px;
    transition: transform 0.6s is-in-out;
    background-color: skyblue;
}

.number-boxes {
    background: rgba(15,15,15,0.8);
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: whitesmoke;
}

.number-boxes>h1 {
    font-size: 5rem;
}

#footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

