.navbar-inverse .navbar-brand {
    color: lightsalmon;
}

.navbar-inverse .navbar-nav>li>a {
    color:lightsalmon;
}

body {
    font-family: lato;
    color: white;
    background: url("../Images/jason-wong-PBNbMX6jtBM-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

.content {
    padding-top: 25%;
    text-align: center;
}
.content a  {
    color: black;
}

.content a:hover {
    color: black;
}

h1 {
    font-weight: 800;
    text-shadow: 1px 0px 3px rgba(0,0,0,0.2),
                 3px 0px 12px rgba(0,0,0,0.3),
                 5px 0px 18px rgba(0,0,0,0.4);
}

hr {
    width: 400px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background: lightsalmon;
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    background: lightsalmon;
    color: black;
}

#getstarted {
    width: 80%;
    border: 2px solid #bdc3c7;
    margin: 40px auto;
    padding: 10px;
    margin-top: 750px;
    font-size: 1.7rem;
    background: rgba(127,127,127,0.5);
}

#getstarted p {
    font-family: "source sans pro";
    color: black;
}

#getstarted h2 {
    color: #2c3e50;
    font-family: "source sans pro";
    font-weight: 900;
}

#getstarted h2 + p {
    border-left: 7px solid #bdc3c7;
    padding-left: 4px;
}

body {
    background-attachment: fixed;
}