#cong{
	width: 0px;
	margin-left: 550px;
	margin-top: 100px;
	position: absolute;

}
#green{
	width: 0%;
	height: 79px;
	margin-left: 600px;
	margin-top: 148px;
}
#content{
	margin-left: 538px;
	margin-top: 42px;
}
